import os

from django.core.wsgi import get_wsgi_application

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "mystops.settings")
os.environ.setdefault("LOCAL_SETTINGS_FILE", "{{ remote_backend_dir }}/local.cfg")

application = get_wsgi_application()
