[tool.poetry]
name = "org-djangokit-cli"
version = "0.0.2.dev0"
description = "DjangoKit command line interface"
authors = ["Wyatt Baldwin <self@wyattbaldwin.com>"]
license = "MIT"
readme = "README.md"

packages = [
    { include = "djangokit", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.8"

org-djangokit-core = "*"

tomli = { version = ">=2.0.1", python = "<3.11" }
typer = { version = ">=0.7.0", extras = ["all"] }
watchdog = ">=2.0"

[tool.poetry.group.dev.dependencies]
org-djangokit-core = { path = "../core", develop = true }

black = "^22.12.0"
isort = "^5.11.2"
mypy = "^0.990"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
pytest-django = "^4.5.2"
ruff = "~0.0.178"
tox = "^3.27.1"

[tool.poetry.scripts]
dk = "djangokit.cli.__main__:app"
djangokit = "djangokit.cli.__main__:app"

[tool.make-release.args]
test = false
target-branch = "cli-release"
tag-name = "cli-v{version}"

[tool.ruff]
ignore = [ "E731" ]

[tool.ruff.per-file-ignores]
"__init__.py" = [ "F401" ]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
