{% block meta %}
  {% include "djangokit/_meta.html" with settings=settings %}
{% endblock %}

{% block title %}
  {% include "djangokit/_title.html" with settings=settings %}
{% endblock %}

{% block favicon %}
  {% include "djangokit/_favicon.html" with settings=settings %}
{% endblock %}

{% block links %}
  {% include "djangokit/_links.html" with settings=settings %}
{% endblock %}

{% block stylesheets %}
  {% include "djangokit/_stylesheets.html" with settings=settings %}
{% endblock %}

{% block scripts %}
  {% include "djangokit/_scripts.html" with settings=settings %}
{% endblock %}
