<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    {% include "djangokit/_app_meta.html" with settings=settings %}

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    {% for path in settings.global_css %}
      <link rel="stylesheet" href="{% static path %}">
    {% endfor %}

    {% block scripts %}
      <script defer src="{% static 'build/client.bundle.js' %}"></script>
    {% endblock %}
  </head>

  <body>
    <!-- Route: {{ request.path }} -->
    <div id="root">{% block root %}{{ markup|safe }}{% endblock %}</div>
  </body>
</html>
