{% extends "layout.html" %}

{% block main %}
    <div class="p-3">
        <h1 class="text-danger">
            {{ problem.title }}
        </h1>

        {% if problem.detail %}
            <div class="lead">
                {{ problem.detail|safe }}
            </div>
        {% endif %}

        {% if problem.status != 404 %}
            <hr>

            <p>
                Please try again later or contact the site administrator at
                {{ settings.webmaster }}.
            </p>

            <p>
                Error code: {{ problem.status }}
            </p>
        {% endif %}
    </div>
{% endblock main %}
