{% extends "djangokit/app.html" %}

{% block layout %}
    <div class="p-3">
        <h1 class="text-danger">
            Error{% if explanation %} - {{ explanation }}{% endif %}
        </h1>

        {% if detail %}
            <div class="lead">
                {{ detail|safe }}
            </div>
        {% endif %}

        {% if status_code != 404 %}
            <hr>

            <p>
                Please try again later or contact the site administrator at
                {{ settings.webmaster }}.
            </p>

            <p>
                Error code: {{ status_code }}
            </p>
        {% endif %}
    </div>
{% endblock %}
