#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

#root > header {
  grid-area: header;
  z-index: 100;
}

#root > main {
  grid-area: main;
  overflow: auto;
}

#root > footer {
  grid-area: footer;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  z-index: 100;
}

p:last-child {
  margin-bottom: 0;
}

li {
  line-height: 2;
}

.admonition {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--bs-light);
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.admonition-title {
  font-weight: bold;
}
.admonition .admonition-title::before {
  margin-right: 0.5em;
}
.admonition.note .admonition-title::before {
  content: "🗒️";
}
.admonition.warning .admonition-title::before {
  content: "⚠️";
}
.admonition.danger .admonition-title::before {
  content: "⛔️";
}
