[tool.poetry]
name = "org-djangokit-core"
version = "0.0.3"
description = "DjangoKit core"
authors = ["Wyatt Baldwin <self@wyattbaldwin.com>"]
license = "MIT"
readme = "README.md"

packages = [
    { include = "djangokit", from = "src" }
]

include = [
    "CHANGELOG.md",
]

[tool.poetry.dependencies]
python = "^3.8"
Django = ">=3.0"
toml = "^0.10.2"

[tool.poetry.group.dev.dependencies]
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
ruff = "*"
tox = "*"
types-toml = "^0.10.8.1"

[tool.make-release.args]
test-command = "make test"
target-branch = "core-release"
tag-name = "core-v{version}"

[tool.ruff]
ignore = [ "E731" ]

[tool.ruff.per-file-ignores]
"__init__.py" = [ "F401" ]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
